body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 18px; /* Adjust the font size here */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 32px;
}

h2 {
    color: #555;
    font-size: 26px;
    font-weight: bold;
}

.article-preview {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-preview h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.article-preview p {
    color: #777;
}

.article-preview a {
    text-decoration: none;
    color: #333;
}

.article-preview a:hover {
    color: #555;
}

img {
    max-width: 70%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper spacing */
    margin: 0 auto; /* Center the image horizontally */
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box-shadow */
}
#spacer {
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
}
